<html>
    <head>
        <title>WWWW</title>
    </head>
    
    
    
    
    <body>
        <form method="post" action="/singup">
            <h1>sing up</h1>
            <label>user name</label>
            <input type="text" name="userName">
            <label>password</label>
            <input type="text" name="password">
            <input type="submit">
        </form>
        
        <form method="post" action="/login">
            <h1>Log in</h1>
            <label>user name</label>
            <input type="text" name="username">
            <label>password</label>
            <input type="text" name="password">
            <input type="submit">
        </form>
        
        
    </body>
</html>